<nav class="navbar navbar-inverse">
      <div class="container">
         <div class="navbar-header">
            <div class="col-md-4">
               <div class="col-md-3">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn2wBwZJK5pjbHmeFznGZ0uac6MVBqB4kP10aJ9T4ABUiYIw9aOw" alt="logo" id = "img_logo"/>
               </div>
               <div class="col-md-9">
                  <div id = "sinput" class="input-group">
                     <input type="text" class="form-control" placeholder="Search for...">
                     <span class="input-group-btn">
                        <button class="btn btn-default btn-transparent" type="button">
                           <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                     </span>
                  </div>
               </div>
            </div>

            <div class="col-md-4">
            </div>

            <div class="col-md-4">
                  <div class="dropdown">
                     <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">{{name}}
                     <span class="caret"></span></button>
                     <ul class="dropdown-menu btn-inverse">
                        <li><a href="#">Турниры</a></li>
                        <li><a href="#">Выйти</a></li>
                     </ul>
                  </div>
                  <div class="dropdown">
                     <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">Команды
                     <span class="caret"></span></button>
                     <ul class="dropdown-menu btn-inverse">
                        <li><a href="#">Новая команда</a></li>
                     </ul>
                  </div>
            </div>
         </div>
      </div>
   </nav>